<div class="jumbotron">
  <h1 class="title">Burgers!</h1>
  <div class="row">
    <div class="col-6 status">
      <h4>Burgers already eaten!</h4>
      <ul style="list-style-type:none">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block status=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6 status">
      <h4>Burgers waiting for you to be eaten!</h4>
      <ul style="list-style-type:none">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block status=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  
  <div class="add-burger">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Not Yet Devoured!<br>
        <input type="radio" name="devoured" value="0"> Devoured
      </div>

      <button type="submit" class="btn btn-secondary">Add Burger</button>
    </form>

  </div>
  


</div>
